<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AirdropIcon_320.png</string>
				<string>AirdropIcon_64.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>FlightBriefing Pilotinput</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.jnavionics.FlightBriefing.pltinp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AirdropIcon_64.png</string>
				<string>AirdropIcon_320.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>FlightBriefing Package</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.jnavionics.FlightBriefing.fltpkg</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AirdropIcon_64.png</string>
				<string>AirdropIcon_320.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>FlightBriefing completed flight</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.jnavionics.FlightBriefing.flt</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>FlightBriefing Pilot Input</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.jnavionics.FlightBriefing.pltinp</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pltinp</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/flightbriefing</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>FlightBriefing Package</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.jnavionics.FlightBriefing.fltpkg</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>fltpkg</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/flightbriefing</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Completed Flight</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.jnavionics.FlightBriefing.flt</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>flt</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/flightbriefing</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.jnavionics.flightbriefing</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>flightbriefing</string>
			</array>
		</dict>
	</array>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
</dict>
</plist>
